* {
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

.countriesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(11, 11, 11);
  background-color: lightsteelblue;
  color: black;
  padding: 10%;
  font-weight: 700;
}
